.navbar-container {
    position: absolute;
    width: 100%;
    height: 70px;
    z-index: 999;
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.8), transparent);
}

.navbar-logo-container {
    display: flex;
    z-index: 999;
    width: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar-logo {
    height: 50px;
}

.navbar-filler {
    width: 50%;
}
.navbar-items {
    z-index: 2;
    width: 40%;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.navbar-single-item {
    font-size: 13px;
    margin: 0 1vh;
    text-transform: uppercase;
}